html {
	background-color: floralwhite;
}

a {
	color: none;
	text-decoration: none;
	background-color: rgba(250, 222, 251, 0.371);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


body {
	/* Skeleton layout for page */
	display: grid;
	grid-template-areas:
	"navbar navbar"
	"sidebar main"
	"footer main";

	/* Size of columns and rows */
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto 1fr auto;

	margin-top: 0px;
	min-height: 100vh;

	/* TODO: fade in animation */
}

/* offer styling */

.offers_container {
	display: flex;
	flex-wrap: wrap;
}

.offer {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	width: 256px;
	height: 256px;
}

.offer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.offer_image img{
	/* Center */
	display: block;	
	margin-left: auto;
	margin-right: auto;

	width: 256px;
	height: 200px;
}
.offer_title {
	font-weight: bold;
}

/* order styling */
.order {
	border: 1px solid black;
    background-color: whitesmoke;
	margin: 5px;
	width: auto;
	height: auto;
	display: flex;
}

.order ul {
	list-style-type: none;
	padding: 1em;
	margin: 0;
}

.order li{
	display: inline-flex;
}

.order_name{
	font-weight: 700;
}

.order_time{
	font-style: italic;
}

.order_status {
	font-style: italic;
}

.order a{
	color: inherit;
}

/* review styling */

footer {
	grid-area: footer;
	border-top: 1px solid black;
	border-right: 1px solid black;
}



