main.log-in{
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 2em;
    section{
        padding: 2em;
    }
}

form{
    padding: 2em 3em;
    margin: 0em 2em;

    input{
        padding: 0.5em;
        display: block;
    }
    p{
        font-size: large;
    }
    select{
        padding: 0.5em;
        display: block;
    }

    textarea{
        display: block;
        margin-bottom: 2em;
    }
}

label{
    display: block;
    margin-top: 2em;
}


form.create{
    background-color: lavender;
}

form.edit{
    background-color: lightblue;
}


/* specific elems */

.shopper-log-in{
    background-color: lightblue;
}

.seller-log-in{
    background-color: lightpink;
}