.offers-list{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;

}

li.offer-item{
    border-radius: 2px;
    border: 3px lightpink solid;
    background-color: floralwhite;
    padding: 2em;
    margin: 1em 3em;
    width: 300px;
    transition: all 0.2s ease;
}

li.offer-item:hover{
    border: 3px firebrick solid;
    background-color: antiquewhite;
    scale: 1.05;
}

.offer-summary{
    display: flex;
    align-items: center;
    gap: 3em;
    background-color: lightpink;
}