.offers-list{
    display: flex;
    flex-wrap: wrap;

}

li.offer-item{
    border-radius: 2px;
    border: 3px lightpink solid;
    background-color: floralwhite;
    padding: 2em;
    margin: 1em 3em;
    width: 200px;
    transition: all 0.2s ease;
}

li.offer-item:hover{
    border: 3px palevioletred solid;
    border-bottom: 3px solid black;
    background-color: antiquewhite;
    scale: 1.05;
}

/* offer details */

main.offer-details{
    display: flex;
    flex-direction: column;
}

.offer-summary{
    display: flex;
    gap: 3em;
    background-color: lightpink;
    padding: 2em;
    margin: 0em 4em;
}


img.offer-picture{
    border: black 2px solid;
    width: 400px;
    max-height: 400px;
    object-fit: cover;
}

img.offer-preview{
    border: black 2px solid;
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin: auto;
}

img.offer-icon{
    border: black 2px solid;
    width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin: auto;
}