.orders-item {
	border: 1px solid black;
	border-bottom: 2px solid black;
	background-color: lavender;
	margin: 2em;
	max-width: 80%;
	height: 200px;
	display: flex;
	align-items: center;
	transition: 0.2s ease all;
	img{
		float: left;
		margin-right: 2em;
		max-height: 500px;
		margin: 1em;
	}
}

.orders-item:hover{
	background-color: plum;
}

.order-info{
	display: flex;
	gap: 3em;
}