/* seller profile */
main.profile{
  display: flex;
  gap: 2em;

  section.about{
    background-color: pink;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.content{
    background-color: lightblue;
  }
}

img.profile-image{
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 auto;
}