li.review-item{
    border: 1px solid black;
	border-bottom: 2px solid black;
	background-color: lavender;
	margin: 2em;
	max-width: 80%;
	height: 200px;
	display: flex;
	align-items: center;
	gap: 2em;
    padding: 2em;
	transition: 0.2s ease all;
	img{
		float: left;
		max-height: 500px;
		margin: 1em;
	}
}

.review-item:hover{
	background-color: plum;
}


img.review-icon{
	border: black 2px solid;
	border-radius: 50%;
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.hide{
	display: none;
}