/* global */

ul{
  list-style-type: none;
}

.pulse{
  transition: all 0.2s ease;
}

.pulse:hover{
  scale: 1.05;
}

/* navigation */

ul.navigation{
  display: flex;
  gap: 3em;
}

/* text styling */

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

main{
  padding: 0em 2em;
}

/* text */

.white-text{
  color: white;
}

.grayed{
  opacity: 0.5;
}

.small{
  font-size: 10pt;
}


.large{
  font-size: 20pt;
}


.center{
  text-align: center;
}

.underline{
  text-decoration: underline solid 2px;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.comic {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}


/* button styling */


button{
  padding: 0.75em 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  font-family: "Open Sans", sans-serif;
  transition: 0.2s ease all;
  margin: 0.5em 0em;
}

button:hover{
  scale: 1.05;
}

button.create{
  background-color: darkseagreen;
}

button.view{
  background-color: lightblue;
}

button.edit{
  background-color: lavender;
}

button.delete{
  background-color: salmon;
}

button.long{
  padding: 0.75em 2em;
  
}