/* global */

ul{
  list-style-type: none;
}

/* navigation */

ul.navigation{
  display: flex;
  gap: 3em;
}

/* text styling */

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

main{
  padding: 0em 2em;
}

.grayed{
  color: gray;
}

.center{
  text-align: center;
}

.underline{
  text-decoration: underline solid 2px;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* button styling */


button{
  padding: 0.75em 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  font-family: "Open Sans", sans-serif;
}

button.create{
  background-color: darkseagreen;
}

button.view{
  background-color: lightblue;
}