body {
	/* Skeleton layout for page */
	display: grid;
	grid-template-areas:
	"navbar navbar"
	"main main"
	"footer footer";

	/* Size of columns and rows */
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	margin-top: 0px;
	min-height: 100vh;

    margin-left: 100px;
    margin-right: 100px;
}

footer {
    border-right: none;
}

