html {
	background-color: floralwhite;
}

body {
	/* Skeleton layout for page */
	display: grid;
	grid-template-areas:
	"navbar navbar"
	"main about"
    "review review"
	"footer footer";

	/* Size of columns and rows */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1.5fr 1fr auto;

	margin-top: 0px;
	min-height: 100vh;
}

nav {
	grid-area: navbar;

	position: sticky;
	top: 0;

	background-color: floralwhite;
	border-bottom: 1px solid black;
}

/* Offer Content */
main {
	grid-area: main;
    border-right: 1px solid black;
}

.view_offer_body {
    padding: 0 10vw;
}

.offers_container {
	display: flex;
	flex-wrap: wrap;
}

.offer {
	margin: 5px;
	width: 256px;
	height: 256px;
	border: 0px;
}

.offer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.offer_image img {
	display: block;	
	margin-left: auto;
	margin-right: auto;

	width: 250px;
	height: 250px;
}

.offer_title {
	font-weight: bold;
}
/* END Offer Content */

/* -------- */

/* About Seller */
about {
    grid-area: about;
	overflow: scroll;
}

.profile{
	display: flex;
	flex-wrap: wrap;

	height: 250px;

	gap: 2em;
	padding: 3em;
}

.user_info{
	width: 300px;
	min-height: 500px;
	background-color: bisque;
	padding: 2em;
	border-radius: 1em;
	text-align: center;
	list-style-type: none;
}

.user_info span{
	font-weight: 750;
}

img.user_photo{
	border-radius: 50%;
	border: 3px solid black;
	width:15em;
}
/* END About Seller */

/* -------- */

/* Reviews */
review {
    grid-area: review;
    border-top: 1px solid black;

}

.reviews_container {
    overflow: scroll;
    height: 250px;
}

.review {
    margin: 5px;
    width: 1fr;
    height: auto;
    border: 1px solid black;
}
.review ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.review_image img {
	display: block;	
	margin-left: 0;
	margin-right: auto;

	width: 10vw;
	height: 10vw;
}

.review_name {
    font-weight: bold;
}

.review_content {
    white-space: pre-line;
}

.add_review {
    float: right;
}

.review_text_box {
    height: 50px;
    width: 30vw;
    white-space: wrap;
}
/* END Reviews */

/* -------- */

footer {
	grid-area: footer;
	border-top: 1px solid black;
}